

  .rhap_container{
    background-color: inherit;
    box-shadow: none;
    width: 88%;
    margin: auto;
    padding: 0;
   
  }

  .rhap_progress-bar-show-download{
    background-color: gray;
    height: 2px;
    
  }

  .rhap_progress-indicator{
    width: 10px;
    height: 10px;
    top: -4px;
    background-color: gray;
  }
  .rhap_progress-filled{
    background-color: gray;
  }
  .rhap_download-progress{
    background-color: gray;
  }

  .rhap_time{
    color: black;
  }

  .rhap_button-clear{
    color: black;
  }

 .rhap_main.rhap_stacked {
  position: relative;
 }

  .rhap_volume-controls{
    position: absolute;
    right: 0;
  }

  .rhap_controls-section {
    margin-top: 20px !important;
  }

  .rhap_volume-bar-area {
    display: none;
  }

  .rhap_additional-controls{
    display: none;
  }

  .rhap_controls-section{
    justify-content: center;
    
    
  }